* {
    margin : 0;
    padding : 0;
}
    body {
    background-color: #e3e5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.card {
    background-color: #ffffff;
    margin: 20px 0 0 20px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
}
.title {
    text-align: center;
    font-size:xx-large;
    padding-bottom: 1px;
    margin-bottom:1px;
}
.subtitle {
    margin-top:10px;
    padding-top: 1px;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}
.subtitle a{
    text-decoration: none;
    font-weight: bold;
}

.social-login {
    display: flex;     
    padding-left: 1px;
    margin-left: 1px;
    margin-bottom: 10px;;
    background-color: white;
    margin-top: 10px;
    height: 50px;
     
}
.google-btn {
     width: 300px;
     display: flex;
     align-items: center;
     justify-content: center;
     border: 1px solid #a5a2a3;
     background-color: white;
     border-radius: 6px;
     margin-right: 10px;
}
.google-btn img {
    width: 30px;
    height: 30px;
    background-color: white;

}

.btn-text {
    color: #000;
    margin-left: 10px;
    font-weight: bold;
    
}

.fb-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #4644B6;
    border-radius: 5px;
    background: white;
    padding: 14px 18px;
    width: 60px;
    
}
.fb-btn img{
    height: 28px;
    width:  28px;
    
}

.or {
    margin-bottom: 10px ;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.email-login {
    margin-bottom: 25px;
}

.email-login label{
    display: flex;
    color: #a5a2a3;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: bold;
    
}

.email-login input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid  #a5a2a3;
    

}

.cta-btn {
    background-color: #4644b4;
    height: 50px;
    width: 100%;
    border-radius: 8px;
    color: white;
    
}
.forget-pass {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}